

.rotate_01:hover{
    -webkit-animation: spin 1s linear infinite;
    -moz-animaton: spin 1s linear infinitie;
    animation: spin 1s linear infinite;
}

/* use keyframes */
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}